Source: ocproxy
Maintainer: Kevin Cernekee <cernekee@gmail.com>
Section: net
Priority: optional
Build-Depends: debhelper (>= 9), dh-autoreconf, libevent-dev
Standards-Version: 3.9.8
Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/ocproxy.git
Vcs-Git: https://anonscm.debian.org/git/collab-maint/ocproxy.git
Homepage: https://github.com/cernekee/ocproxy

Package: ocproxy
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Recommends: openconnect
Description: lwIP based proxy for openconnect
 ocproxy is a lwIP based SOCKS and port-forwarding proxy for use with
 openconnect. It allows a non-administrator to use openconnect without
 the need for tunnel devices. Rather than adding the host machine to
 the network at the other end of the VPN, ocproxy allows a user to
 create a local SOCKS and port-forwarding proxy that is connected to
 the VPN. Web browsers, remote login utilities and other programs can
 then access the systems at the other end of the VPN via the proxy.
